<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /projet/DungeonXplorer/
    
    # Si ce n'est pas un fichier ou un dossier existant
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Reroute tout vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>