.classe{
    font: 1em "Bookman", serif;
    font-size: 1.5em;
}

#class-select{
    font: 1em "Bookman", serif;
    size: 5em;
}

#hp{
    float: left;
}

.stats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stats div {
    margin-right: 1.5em;
}